<a href="https://colab.research.google.com/github/udsaneeshereen/new-git/blob/master/%F0%9F%AA%84_%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88%E0%B8%84%E0%B8%A7%E0%B8%A3%E0%B8%A3%E0%B8%B9%E0%B9%89_20_%E0%B8%84%E0%B8%B3%E0%B8%AA%E0%B8%B1%E0%B9%88%E0%B8%87_Pandas_%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%B3%E0%B8%84%E0%B8%B1%E0%B8%8D%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%B8%E0%B8%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# 1.โหลด CSV ไฟล์เข้าสู่  DataFrame จาก GitHub URL
url = 'https://raw.githubusercontent.com/BorntoDev/pandas-20-essential-commands-for-beginners/main/projects-operations-demo-large.csv'
df = pd.read_csv(url)

# แต่ถ้าอัปโหลดไฟล์ CSV มาใน Colab เองแล้วโหลดเข้าสู่ DataFrame จะใช้ท่านี้
# file_path = '/content/projects-operations-demo-large.csv'
# df = pd.read_csv(file_path)

In [ ]:
# 2. ดูข้อมูล 5 แถวแรก
print(df.head())

   project_id project_name  start_date    end_date    budget  team_size  \
0           1    Project A  2024-01-07  2024-06-17  238290.0          9
1           2    Project B  2024-01-14  2024-07-08   97257.0         13
2           3    Project C  2024-01-21  2024-06-24  196812.0          5
3           4    Project D  2024-01-28  2024-07-08  480855.0         19
4           5    Project E  2024-02-04  2024-07-08  257076.0         10

      status
0  Completed
1    Ongoing
2  Completed
3  Completed
4    Ongoing

In [ ]:
# 3. ดูข้อมูล 5 แถวสุดท้าย
print(df.tail())

    project_id project_name  start_date    end_date    budget  team_size  \
95          96    Project R  2025-11-02  2024-07-15  439129.0          6
96          97    Project S  2025-11-09  2024-07-08  398626.0          9
97          98    Project T  2025-11-16         NaN  310374.0         16
98          99    Project U  2025-11-23  2024-04-08  335297.0         17
99         100    Project V  2025-11-30  2024-07-29  273579.0         14

         status
95  Not Started
96    Completed
97      Ongoing
98  Not Started
99      Ongoing

In [ ]:
# 4. ดูข้อมูลสรุปเกี่ยวกับ DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   project_id    100 non-null    int64
 1   project_name  100 non-null    object
 2   start_date    100 non-null    object
 3   end_date      90 non-null     object
 4   budget        90 non-null     float64
 5   team_size     100 non-null    int64
 6   status        100 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 5.6+ KB
None

In [ ]:
# 5. แสดงสถิติพื้นฐานของข้อมูล
print(df.describe())

       project_id         budget  team_size
count  100.000000      90.000000  100.00000
mean    50.500000  277497.433333   11.89000
std     29.011492  128462.798776    4.40132
min      1.000000   55627.000000    5.00000
25%     25.750000  164139.500000    8.00000
50%     50.500000  271334.500000   11.50000
75%     75.250000  376178.750000   15.25000
max    100.000000  491348.000000   19.00000

In [ ]:
# 6. แสดงชื่อคอลัมน์ทั้งหมดใน DataFrame
print(df.columns)

Index(['project_id', 'project_name', 'start_date', 'end_date', 'budget',
       'team_size', 'status'],
      dtype='object')

In [ ]:
# 7. แสดงขนาดของ DataFrame (จำนวนแถว, จำนวนคอลัมน์)
print(df.shape)

(100, 7)

In [ ]:
# 8. ตรวจสอบว่ามีค่า missing (null) ใน DataFrame หรือไม่
print(df.isnull().sum())

project_id       0
project_name     0
start_date       0
end_date        10
budget          10
team_size        0
status           0
dtype: int64

In [ ]:
# 9. ลบแถวที่มีค่า missing ออก
df_cleaned = df.dropna()
print(df_cleaned.head())

   project_id project_name  start_date    end_date    budget  team_size  \
0           1    Project A  2024-01-07  2024-06-17  238290.0          9
1           2    Project B  2024-01-14  2024-07-08   97257.0         13
2           3    Project C  2024-01-21  2024-06-24  196812.0          5
3           4    Project D  2024-01-28  2024-07-08  480855.0         19
4           5    Project E  2024-02-04  2024-07-08  257076.0         10

      status
0  Completed
1    Ongoing
2  Completed
3  Completed
4    Ongoing

In [ ]:
# 10. เติมค่าที่หายไปใน DataFrame ด้วยค่าเฉพาะ เช่น เติมด้วย 0
df_filled = df.fillna(0)
print(df_filled.head())

   project_id project_name  start_date    end_date    budget  team_size  \
0           1    Project A  2024-01-07  2024-06-17  238290.0          9
1           2    Project B  2024-01-14  2024-07-08   97257.0         13
2           3    Project C  2024-01-21  2024-06-24  196812.0          5
3           4    Project D  2024-01-28  2024-07-08  480855.0         19
4           5    Project E  2024-02-04  2024-07-08  257076.0         10

      status
0  Completed
1    Ongoing
2  Completed
3  Completed
4    Ongoing

In [ ]:
# 11. เรียงข้อมูลใน DataFrame ตามคอลัมน์ที่ระบุ
# สมมติว่ามีคอลัมน์ที่ชื่อ 'project_id' ให้เรียงลำดับ
if 'project_id' in df.columns:
    df_sorted = df.sort_values(by='project_id')
    print(df_sorted.head())

   project_id project_name  start_date    end_date    budget  team_size  \
0           1    Project A  2024-01-07  2024-06-17  238290.0          9
1           2    Project B  2024-01-14  2024-07-08   97257.0         13
2           3    Project C  2024-01-21  2024-06-24  196812.0          5
3           4    Project D  2024-01-28  2024-07-08  480855.0         19
4           5    Project E  2024-02-04  2024-07-08  257076.0         10

      status
0  Completed
1    Ongoing
2  Completed
3  Completed
4    Ongoing

In [ ]:
# 12. การกลุ่มข้อมูลใน DataFrame และคำนวณค่าทางสถิติ
# ในกรณีนี้เราสามารถใช้คอลัมน์ 'status' ในการกลุ่มและคำนวณค่าเฉลี่ยของคอลัมน์เชิงตัวเลข เช่น 'budget'
if 'status' in df.columns:
    df_grouped = df.groupby('status').mean(numeric_only=True)
    print(df_grouped)

             project_id         budget  team_size
status
Completed     49.419355  292304.241379  11.709677
Not Started   48.121212  271073.000000  12.575758
Ongoing       53.611111  269936.424242  11.416667

In [ ]:
# 13. การรวมข้อมูลจาก DataFrame สองตัวเข้าด้วยกัน
# สร้าง DataFrame อื่นที่มีคอลัมน์ 'project_id' สำหรับ merge
df_other = pd.DataFrame({'project_id': [1, 2, 3], 'extra_info': ['A', 'B', 'C']})
df_merged = df.merge(df_other, on='project_id', how='left')
print(df_merged.head())

   project_id project_name  start_date    end_date    budget  team_size  \
0           1    Project A  2024-01-07  2024-06-17  238290.0          9
1           2    Project B  2024-01-14  2024-07-08   97257.0         13
2           3    Project C  2024-01-21  2024-06-24  196812.0          5
3           4    Project D  2024-01-28  2024-07-08  480855.0         19
4           5    Project E  2024-02-04  2024-07-08  257076.0         10

      status extra_info
0  Completed          A
1    Ongoing          B
2  Completed          C
3  Completed        NaN
4    Ongoing        NaN

In [ ]:
# 14. ใช้ฟังก์ชันกับแต่ละแถวหรือคอลัมน์ใน DataFrame
# สมมติว่ามีคอลัมน์ 'budget' ที่เราต้องการคูณด้วย 2
if 'budget' in df.columns:
    df['budget_doubled'] = df['budget'].apply(lambda x: x * 2)
    print(df.head())

   project_id project_name  start_date    end_date    budget  team_size  \
0           1    Project A  2024-01-07  2024-06-17  238290.0          9
1           2    Project B  2024-01-14  2024-07-08   97257.0         13
2           3    Project C  2024-01-21  2024-06-24  196812.0          5
3           4    Project D  2024-01-28  2024-07-08  480855.0         19
4           5    Project E  2024-02-04  2024-07-08  257076.0         10

      status  budget_doubled
0  Completed        476580.0
1    Ongoing        194514.0
2  Completed        393624.0
3  Completed        961710.0
4    Ongoing        514152.0

In [ ]:
# 15. ลบคอลัมน์ออกจาก DataFrame
# สมมติว่าต้องการลบคอลัมน์ที่ชื่อ 'status'
if 'status' in df.columns:
    df_dropped = df.drop(['status'], axis=1)
    print(df_dropped.head())

   project_id project_name  start_date    end_date    budget  team_size  \
0           1    Project A  2024-01-07  2024-06-17  238290.0          9
1           2    Project B  2024-01-14  2024-07-08   97257.0         13
2           3    Project C  2024-01-21  2024-06-24  196812.0          5
3           4    Project D  2024-01-28  2024-07-08  480855.0         19
4           5    Project E  2024-02-04  2024-07-08  257076.0         10

   budget_doubled
0        476580.0
1        194514.0
2        393624.0
3        961710.0
4        514152.0

In [ ]:
# 16. เปลี่ยนชื่อคอลัมน์ใน DataFrame
# สมมติว่าต้องการเปลี่ยนชื่อคอลัมน์ 'team_size' เป็น 'team_count'
if 'team_size' in df.columns:
    df_renamed = df.rename(columns={'team_size': 'team_count'})
    print(df_renamed.head())

   project_id project_name  start_date    end_date    budget  team_count  \
0           1    Project A  2024-01-07  2024-06-17  238290.0           9
1           2    Project B  2024-01-14  2024-07-08   97257.0          13
2           3    Project C  2024-01-21  2024-06-24  196812.0           5
3           4    Project D  2024-01-28  2024-07-08  480855.0          19
4           5    Project E  2024-02-04  2024-07-08  257076.0          10

      status  budget_doubled
0  Completed        476580.0
1    Ongoing        194514.0
2  Completed        393624.0
3  Completed        961710.0
4    Ongoing        514152.0

In [ ]:
# 17. กำหนดคอลัมน์ให้เป็น index ของ DataFrame
# สมมติว่าต้องการตั้ง 'project_id' เป็น index
if 'project_id' in df.columns:
    df_indexed = df.set_index('project_id')
    print(df_indexed.head())

           project_name  start_date    end_date    budget  team_size  \
project_id
1             Project A  2024-01-07  2024-06-17  238290.0          9
2             Project B  2024-01-14  2024-07-08   97257.0         13
3             Project C  2024-01-21  2024-06-24  196812.0          5
4             Project D  2024-01-28  2024-07-08  480855.0         19
5             Project E  2024-02-04  2024-07-08  257076.0         10

               status  budget_doubled
project_id
1           Completed        476580.0
2             Ongoing        194514.0
3           Completed        393624.0
4           Completed        961710.0
5             Ongoing        514152.0

In [ ]:
# 18. รีเซ็ต index ของ DataFrame เป็นค่าเริ่มต้น
df_reset = df.reset_index(drop=True)
print(df_reset.head())

   project_id project_name  start_date    end_date    budget  team_size  \
0           1    Project A  2024-01-07  2024-06-17  238290.0          9
1           2    Project B  2024-01-14  2024-07-08   97257.0         13
2           3    Project C  2024-01-21  2024-06-24  196812.0          5
3           4    Project D  2024-01-28  2024-07-08  480855.0         19
4           5    Project E  2024-02-04  2024-07-08  257076.0         10

      status  budget_doubled
0  Completed        476580.0
1    Ongoing        194514.0
2  Completed        393624.0
3  Completed        961710.0
4    Ongoing        514152.0

In [ ]:
# 19. สร้าง pivot table จาก DataFrame
# สมมติว่าต้องการสร้าง pivot table ที่แสดงค่าเฉลี่ยของ 'budget'
# โดยมี index เป็น 'status', columns เป็น 'team_size'
if 'status' in df.columns and 'team_size' in df.columns:
    df_pivot = df.pivot_table(values='budget', index='status', columns='team_size', aggfunc='mean')
    print(df_pivot)

team_size               5              6         7              8          9   \
status
Completed    221146.333333  308672.000000  366200.0  339077.333333  267605.25
Not Started  349376.000000  342361.333333       NaN  124301.500000  173258.50
Ongoing      185731.000000            NaN  206656.0  354242.000000  251020.00

team_size               10             11        12             13         14  \
status
Completed    286131.000000  239192.000000  446032.0            NaN  468385.00
Not Started   85352.000000  319185.000000  137346.0  302215.000000   92597.00
Ongoing      397315.666667  404158.333333   65502.0  115484.666667  296983.75

team_size          15         16             17             18        19
status
Completed    186012.0        NaN  240466.333333  169874.000000  433642.0
Not Started  245491.0  346017.25  349920.333333  466439.000000  316622.5
Ongoing      375449.0  310374.00  357596.000000  277047.666667  245601.0

In [ ]:
# 20. เชื่อม DataFrame หลายตัวเข้าด้วยกัน
df_concat = pd.concat([df, df_other], axis=0)
print(df_concat.head())

   project_id project_name  start_date    end_date    budget  team_size  \
0           1    Project A  2024-01-07  2024-06-17  238290.0        9.0
1           2    Project B  2024-01-14  2024-07-08   97257.0       13.0
2           3    Project C  2024-01-21  2024-06-24  196812.0        5.0
3           4    Project D  2024-01-28  2024-07-08  480855.0       19.0
4           5    Project E  2024-02-04  2024-07-08  257076.0       10.0

      status  budget_doubled extra_info
0  Completed        476580.0        NaN
1    Ongoing        194514.0        NaN
2  Completed        393624.0        NaN
3  Completed        961710.0        NaN
4    Ongoing        514152.0        NaN